<temp file="header.html"/>
<body>
<div class="head">
    <div class="box">
        <ul class="nav-list">
            <li class="sign right">
                <a class="user-account ">用户中心</a>
                <div class="drop-menu ">
                    <a class="drop-menu-item" href="{:U('index/user/account')}">我的账户</a>
                    <a class="drop-menu-item" href="admin/orders">我的订单</a>
                    <a class="drop-menu-item" href="logout.php">退出登录</a>
                </div>
            </li>
            <li class="logo"></li>
            <li class="item"><a href="index.html">首页</a></li>
        </ul>
    </div>
</div>
<div class="body">
    <div class="box">
        <div class="banner-box">
            <div class="left banner">
                <div class="wrap" id="wrap">
                    <img src="http://admin.qqzhus.com/public/images/u=1027448524,3307017028&fm=23&gp=0.jpg" alt="">
                    <img src="http://admin.qqzhus.com/public/images/u=1027448524,3307017028&fm=23&gp=0.jpg" alt="">
                </div>
                <div class="prev" id="prev"><i class="fa icon-chevron-left icon-2x"></i></div>
                <div class="next" id="next"><i class="fa icon-chevron-right icon-2x"></i></div>
            </div>
            <div class="right news">
                <h2 class="news-ti ti-h2">最新资讯</h2>
                <ul class="news-list">
                    <li><a href="news.html?id=1">【免费QQ助手】免费QQ助手简介，下单前必读！！</a></li>
                    <li><a href="news.html?id=4">【免费QQ助手】下单注意事项！！每天凌晨开刷，不要重复提交一个QQ</a></li>
                    <li><a href="news.html?id=5">【免费QQ助手】本站承诺：本站所有业务永久免费，不会收取任何费用，请收藏好！！</a></li>
                    <li><a href="news.html?id=3">【免费QQ助手】怎样快速的获取积分！！</a></li>
                    <li><a href="news.html?id=2">【免费QQ助手】本站使用方法！！</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="query-container">
        <div class="box">
            <div class="query-box">
                <h2 class="query-ti ti-h2">
          查询功能
        </h2>
                <div class="query-form">
                    <input type="text" placeholder="请输入QQ号" class="input" id="qq_num">
                    <button id="ren_q">查询人气</button>
                    <button id="liu_q">查询留言</button>
                    <button id="shuo_q">获取说说ID</button>
                    <div class="query-result left" id="result_q">
                        查询结果
                    </div>
                    <select name="shuos" id="shuos" class="select hide"></select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="deal-container">
    <div class="box">
        <h2 class="deal-ti ti-h2">
        业务列表
      </h2>
        <ul class="deal-list">
            <li>
                <h2 class="title">QQ空间人气</h2>
                <p class="tip">QQ空间人气，每次下单送100人气，每个号码每天可以提交一次。下单前请检查空间是否允许任何人访问，是否有原创说说，请勿恶意提交</p>
                <a class="btn">立即下单</a>
                <div class="form">
                    <div class="item">
                        <span class="lable">QQ</span>
                        <input type="text" placeholder="请输入QQ号" name="qqNum">
                    </div>
                    <a class="btn-submit">提交订单</a><a class="btn-back">收起</a>
                    <input type="hidden" value="11" name="id">
                    <input type="hidden" value="0" name="point">
                    <input type="hidden" value="3" name="type">
                </div>
            </li>
            <li>
                <h2 class="title">手机QQ名片赞</h2>
                <p class="tip">手机QQ名片赞，100积分兑换100赞。 积分获取方法：1.签到送积分 2.邀请送积分</p>
                <a class="btn">立即下单</a>
                <div class="form">
                    <div class="item">
                        <span class="lable">QQ</span>
                        <input type="text" placeholder="请输入QQ号" name="qqNum">
                    </div>
                    <a class="btn-submit">提交订单</a><a class="btn-back">收起</a>
                    <input type="hidden" value="2" name="id">
                    <input type="hidden" value="100" name="point">
                    <input type="hidden" value="3" name="type">
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<temp file="footer.html"/>