<footer class="footer">
  <div class="flinks"> <strong>友情链接</strong>
    <ul class='xoxo blogroll'>
      <li><a href="http://www.renweinet.net" target="_blank" title="绵阳人维网络科技有限公司">人维网络</a></li>
      <li><a href="http://ymhack.com/" target="_blank" title="沧澜博客">沧澜博客</a></li>
    </ul>
  </div>
  {$config['copyright']}&nbsp;{$config['icp']}<br> 
版权声明：本站部分资源都来自于网络分享，仅作整理分享，为用户省却搜索的繁琐步骤，本站并不以此为盈利目的，资源所有权归开发者所有。如果对您造成了侵权伤害，请联系我们删除。
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259386329'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259386329%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</footer>

