<include file="Public/header"/>
<div class="wrapper wrapper-content animated {:C('Animation')}">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"> <include file="Public/nav"/>
        </div>
        <div class="ibox-content">
          <form class="form-horizontal m-t" action="" method="post">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align:center">ID</th>
                  <th style="text-align:center">角色名称</th>
                  <th style="text-align:center">角色描述</th>
                  <th style="text-align:center">状态</th>
                  <th style="text-align:center;width: 30%;">操作</th>
                </tr>
              </thead>
              <tbody>
                <volist name="data['list']" id="vo">
                  <tr>
                    <td style="text-align:center">{$vo.id}</td>
                    <td style="text-align:center">{$vo.title}</td>
                    <td style="text-align:center">{$vo.describe}</td>
                    <td style="text-align:center">
                    <if condition="$vo['status'] eq 1"> 
                    	<a class="btn mg0 btn-info btn-xs" onClick="SetStatus(this,'info','status','{$vo.id}','0','{:U('group/status')}')">显示</a>
                    <else/>
                    	<a class="btn mg0 btn-danger btn-xs" onClick="SetStatus(this,'danger','status','{$vo.id}','1','{:U('group/status')}')">显示</a> 
                    </if>
                    </td>
                    <td style="text-align:center">
                      <if condition="($vo['id'] eq 1) or (getGroups() eq $vo['id'])">
                        <a href="javascript:;" class="btn mg0 btn-default btn-xs"><i class="fa fa-warning"></i> 访问权限</a>
                        <a href="{:U('user/index',array('gid'=>$vo['id']))}" class="J_menuItem btn mg0 btn-success btn-xs"><i class="fa fa-users"></i> 成员管理</a>
                        <a href="javascript:;" class="btn mg0 btn-default btn-xs"><i class="fa fa-paste"></i> 编辑</a>
                        <a href="javascript:;" class="btn mg0 btn-default btn-xs"><i class="fa fa-times"></i> 删除</a>
                      <else/>
                        <a onclick="layerfrm('设置:{$vo.title} 的权限','100%','100%','{:U('group/auth',array('gid'=>$vo['id']))}')"href="javascript:;" class="btn mg0 btn-info btn-xs"><i class="fa fa-warning"></i> 访问权限</a>
                        <a href="{:U('user/index',array('gid'=>$vo['id']))}" class="J_menuItem btn mg0 btn-success btn-xs"><i class="fa fa-users"></i> 成员管理</a>
                        <a href="{:U('group/edit',array('gid'=>$vo['id']))}" class="btn mg0 btn-primary btn-xs"><i class="fa fa-paste"></i> 编辑</a>
                        <a href="{:U('group/del',array('gid'=>$vo['id']))}" class="btn mg0 btn-danger btn-xs J_del" data-title="删除会一并删除该组的用户"><i class="fa fa-times"></i> 删除</a>
                      </if>
                    </td>
                  </tr>
                </volist>
              </tbody>
            </table>
            {$data['page']}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="$public/js/common.js"></script>
</body>
</html>