<include file="Public/header"/>
<div class="wrapper wrapper-content animated {:C('Animation')}">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title"> <include file="Public/nav"/> </div>
        <div class="ibox-content">
          <div class="alert alert-success alert-dismissable">
                只支持ZIP文件上传！<p>
                文件名就是插件名称，只支持英文、数字、下划线！<p>
                压缩包目录结构为插件自身！<p>
          </div>
          <form class="form-horizontal m-t" enctype="multipart/form-data" action="" method="post">
            <div id="file-pretty">
              <div class="form-group">
                <label class="col-sm-2 control-label">选择文件：</label>
                <div class="col-sm-4">
                  <input type="file" class="form-control" name="file">
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">上传插件</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="$public/js/common.js"></script> 
<script src="$public/js/prettyfile.js"></script> 
<script>
$('#file-pretty input[type="file"]').prettyFile();
</script>
</body></html>