<include file="Public/header"/>
<div class="wrapper wrapper-content animated {:C('Animation')}">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <include file="Public/nav"/>
        </div>
        <div class="ibox-content">
        <form class="form-horizontal m-t" action="{:U('Content/sort')}" method="post" id="commentForm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;width:5%">排序</th>
                <th style="text-align:center;width:5%">ID</th>
                <th style="width:20%">名称</th>
                <th>描述</th>
                <th style="width:5%">字体图标</th>
                <th style="width:20%">模板</th>
                <th style="text-align:center;width:5%">类型</th>
                <th style="text-align:center;width:5%">状态</th>
                <th style="text-align:center;width:10%">操作</th>
              </tr>
            </thead>
            <tbody>
			<volist name="list" id="vo">
              <tr class="float-e-margins">
                <td><input type="text" name="listorder[{$vo.id}]" value="{$vo.listorder}" class="input-sm form-control" style="text-align:center;"></td>
                <td style="text-align:center">{$vo.id}</td>
                <td>{$vo.catname}&nbsp;/&nbsp;{$vo.catdir}&nbsp;&nbsp;<a href="{:U('Content/add_sort',array('pid'=>$vo['id']))}"><i class="fa fa-plus"></i></a></td>
                <td>{$vo.description}</td>
                <td style="text-align:center"><i class="fa fa-{$vo.font|default="desktop"}"></i></td>
                <td>
                <if condition="$vo['type'] eq 0">
                列表：{$vo.list_tmp}.html&nbsp;&nbsp;内容：{$vo.show_tmp}.html
                <else/>
                单页：{$vo.page_tmp}.html
                </if>
                </td>
                <td style="text-align:center">
                    <if condition="$vo['type'] eq 0">
                       <a class="J_alink btn mg0 btn-info btn-xs" href="{:U('Content/type_sort',array('id'=>$vo['id'],'type'=>1))}">分类</a>
                    <else/>
                       <a class="J_alink btn mg0 btn-success btn-xs"href="{:U('Content/type_sort',array('id'=>$vo['id'],'type'=>0))}">单页</a>
                    </if>
                </td> 
                <td style="text-align:center">
                    <if condition="$vo['status'] eq 1">
                       <a class="btn mg0 btn-info btn-xs" onClick="SetStatus(this,'info','status','{$vo.id}','0','{:U('Content/status_sort')}')">显示</a>
                    <else/>
                       <a class="btn mg0 btn-danger btn-xs" onClick="SetStatus(this,'danger','status','{$vo.id}','1','{:U('Content/status_sort')}')">显示</a>
                    </if>
                </td>
                <td style="text-align:center">
                   <a href="{:U('Content/edit_sort',array('id'=>$vo['id']))}" class="btn mg0 btn-primary btn-xs"><i class="fa fa-paste"></i> 编辑</a>
                   <a href="{:U('Content/del_sort',array('id'=>$vo['id']))}" class="btn mg0 btn-danger btn-xs J_del"><i class="fa fa-times"></i> 删除</a>
                </td>
              </tr>
			</volist>
            </tbody>
          </table>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <div class="col-sm-3">
                <button class="btn btn-primary" type="submit">保存排序</button>
             </div>
          </div>            
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="$public/js/validate/validate.js"></script> 
<script src="$public/js/validate/messages.js"></script> 
<script src="$public/js/common.js"></script>
</body>
</html> 